.vscode/
football/.vscode/

virtual_computer/CMakeFiles/

*.pbxproj

*.xcworkspacedata

virtual_computer/cmake_install.cmake

virtual_computer/CMakeCache.txt

virtual_computer/Makefile

*.xcscheme

*.plist

*.xcworkspacedata

*.xcuserstate

MachineLearning/*
OpenGL/*
MachineLearning/Deep Learning A-Z/Volume 1 - Supervised Deep Learning/Part 1 - Artificial Neural Networks (ANN)/Section 4 - Building an ANN/Churn_Modelling.csv
