.vscode/
football/.vscode/

virtual_computer/CMakeFiles/

*.pbxproj

*.xcworkspacedata

virtual_computer/cmake_install.cmake

virtual_computer/CMakeCache.txt

virtual_computer/Makefile

*.xcscheme

*.plist

*.xcworkspacedata

*.xcuserstate

MachineLearning/.idea/
